<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>[{``{ 变量名 | 过滤器：可选参数 }``}]</h1>

<h1>{{name}}</h1>

<h1>{{name|upper}}</h1>

<h1>{{list}}</h1>
<h1>{{content.hello|length}}</h1>
<h1>{{kb|filesizeformat}}</h1>
<h1>{{now|date:"Y-m-d H:i:s"}}</h1>
<h1>{{ my_list|first|upper }}</h1>
<h1>{{ bio|truncatewords:"30" }}</h1>

<h1>{{ name|default:"菜鸟教程666" }}</h1>
<h1>{{ bio|truncatewords:"30" }}</h1>
<h1>{{ views_str|truncatechars:2}}</h1>
<h1>{{ views_str|safe }}</h1>



</body>
</html>